@mixin columnLayout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;

  .main {
    flex: 14;
    background-color: #252329;
    @include columnLayout;
  }

  .side,
  .mobile {
    flex: 5;
    background-color: #19161b;
    @include columnLayout;
  }

  .leftside {
    flex: 1;
    background-color: #19161b;
    @include columnLayout;
  }

  @media screen and (max-width: 767px) {
    .main {
      flex: 1;
    }

    .side {
      display: none;
    }
  }
}

.sideContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: hidden;
}

.mobile {
  position: absolute;
  height: 100vh;
  width: 80%;
  z-index: 20;
  animation: slide-in 0.5s linear 1 forwards;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}


.homeButton {
  @media screen and (max-width: 350px) {
    padding: 5px;
  }
}

.home {
  color: #e0e0e0;
  &:hover {
    color: rgb(129, 3, 255);
    color: linear-gradient(90deg, rgba(129, 3, 255, 1) 0%, rgba(195, 17, 255, 1) 100%);
  }
}
